<routes>
  <!--
   全てのテーマを取得する。
  -->
  <get path="api/theme" to="Theme#findAll"/>

  <!--
   指定したテーマの投票状況を取得する。
  -->
  <get path="api/theme/:themeId" to="Theme#find"/>

  <!--
  新規テーマを登録する。
  -->
  <post path="api/theme" to="Theme#save"/>

  <!--
  テーマに意見を投稿する。
  -->
  <post path="api/opinion" to="Opinion#save"/>
  <!--
  意見に賛同する。
  -->
  <post path="api/agreement/:opinionId"/>
</routes>
